[Desktop Entry]
Type=Application
Name=JottaBox
Comment=Inicia o ambiente JottaBox
Exec=/usr/local/bin/jottabox-autostart
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
